<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <h2>人员列表</h2>
      <input type="text" placeholder="请输入名字" v-model="keyWord" />
      <ul>
        <!-- 遍历数组 -->
        <li v-for="(item,index) in filPersons" :key="filPersons.id">
          {{item.name}}-{{item.age}}
        </li>
      </ul>
    </div>

    <script>
      //使用watch实现
      /* new Vue({
        el: "#root",
        data: {
          keyWord: "",
          persons: [
            { id: 001, name: "马冬梅", age: 18 },
            { id: 002, name: "周冬雨", age: 20 },
            { id: 003, name: "周杰伦", age: 19 },
            { id: 004, name: "温兆伦", age: 21 },
          ],
          filPersons: [],
        },
        // 在用户输入发生改变的时候重新进行模糊搜索
        watch: {
          keyWord: {
            immediate: true,
            handler(val) {
              // this.filPersons=this.persons
              //每一个字符串当中都有空,所以初始化时不用给filPerson赋值
              this.filPersons = this.persons.filter((p) => {
                return p.name.indexOf(val) != -1;
              });
            },
          },
        },
      }); */

      //使用computed实现
      new Vue({
        el: "#root",
        data: {
          keyWord: "",
          persons: [
            { id: 001, name: "马冬梅", age: 18 },
            { id: 002, name: "周冬雨", age: 20 },
            { id: 003, name: "周杰伦", age: 19 },
            { id: 004, name: "温兆伦", age: 21 },
          ],
        },
        //初始化时会自动执行一次
        //所依赖的keyWord发生改变时又会执行
        computed: {
          filPersons() {
            return this.persons.filter((p) => {
              return p.name.indexOf(this.keyWord) != -1;
            });
          },
        },
      });
    </script>
  </body>
</html>
